/* ==========================================
   HERO SECTION
   Who Cares Photography
========================================== */
.hero{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-image: url("../images/hero/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.60);
}
.hero-content{
    position:relative;
    z-index:2;
    max-width:900px;
    padding:20px;
    animation:fadeUp 1.2s ease;
}
.hero-subtitle{
    display:inline-block;
    color:#D4AF37;
    font-size:18px;
    letter-spacing:3px;
    text-transform:uppercase;
    margin-bottom:20px;
}
.hero h1{
    font-size:68px;
    line-height:1.15;
    color:white;
    margin-bottom:25px;
    font-weight:700;
}
.hero p{
    font-size:20px;
    line-height:1.9;
    color:#f2f2f2;
    max-width:750px;
    margin:0 auto 40px;
}
.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}
.btn{
    display:inline-block;
    padding:16px 42px;
    border-radius:50px;
    text-decoration:none;
    font-weight:700;
    transition:.35s;
}
.btn{
    background:#D4AF37;
    color:#000;
}
.btn:hover{
    transform:translateY(-5px);
    box-shadow:0 12px 30px rgba(212,175,55,.35);
}
.btn-outline{
    background:transparent;
    border:2px solid #D4AF37;
    color:#fff;
}
.btn-outline:hover{
    background:#D4AF37;
    color:#000;
}
@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}